<%= form_with(model: service) do |form| %>
  <% if service.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>
      
      <ul>
        <% service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt">
    <%= form.label :title, t('services_data.service_name'), style: "display: block" %>
    <%= form.text_field :title, class: 'form-text-field'  %>
  </div>

  <div class="field mt">
    <%= form.label :service_type, t('services_data.service_type_name'), style: "display: block" %>
    <%= form.text_field :service_type, class: 'form-text-field'  %>
  </div>

  <div class="field mt">
    <%= form.label :difficulty_id, t("services_data.service.difficulty"), style: "display: block" %>
    <% options = Difficulty.all.map { |d| [I18n.exists?("difficulty.difficulty_titles.#{d.title.parameterize.underscore}", locale: :uk) ? t("difficulty.difficulty_titles.#{d.title.parameterize.underscore}") : d.title, d.id] } %>
    <%= form.select :difficulty_id, options_for_select(options, prompt: 'Select difficulty'), {}, class: 'form-text-field', style: "width: 300px;" %>
  </div>

  <div class="field mt">
    <%= form.label :description, t('services_data.service.description'), style: "display: block" %>
    <%= form.text_area :description, class: 'form-text-area'  %>
  </div>

  <%= form.hidden_field :employee_profile_id, value:current_employee.id %>

  <div class="field mt">
    <%= form.submit t('save'), class: 'button button-main' %>
  </div>
<% end %>
