<div id="<%= dom_id service %>">
  <div class="mt-md">
    <strong><%= t('services_data.service.title') %>:</strong>
    <% if I18n.locale == :uk %>
      <%= I18n.t("index.home.services_titles.#{service.title.parameterize.underscore}") %>
    <% else %>
      <%= service.title %>
    <% end %>
  </div>

  <div class="mt-sm mb-sm">
    <strong><%= t('services_data.service_type_name') %>:</strong>
    <% if I18n.locale == :uk %>
      <%= I18n.t("index.home.services_types.#{service.service_type.parameterize.underscore}") %>
    <% else %>
      <%= service.service_type %>
    <% end %>
  </div>

  <% if @service.present? && @service.difficulty.present? %>
  <div class="mt-sm mb-sm">
    <strong><%= t('services_data.service.difficulty') %>:</strong>
    <% if I18n.locale == :uk %>
      <%= I18n.t("difficulty.difficulty_titles.#{@service.difficulty.title.parameterize.underscore}") %>
    <% else %>
      <%= @service.difficulty.title %>
    <% end %>
  </div>

  <div class="mt-sm mb-sm">
    <strong><%= t('services_data.service.who_created') %>:</strong>
    <% if service.employee_profile_id.present? %>
      <%= EmployeeProfile.find_by(id: service.employee_profile_id).last_name %>
    <% else %>
      Admin
    <% end %>
  </div>

  <div class="mt-sm mb-sm">
    <strong><%= t('services_data.service.description') %>:</strong>
    <div class="mt-sm" style="width: 600px; height: 200px; overflow-x: auto; overflow-y: auto;">
      <%= @service.description %>
    </div>
  </div>

<% end %>

</div>
