<div class="container">
  <h2 class="title-lg mb"><%= t('client_profiles.edit.title') %></h2>
 
  <% resource.build_employee_profile if resource.employee_profile.nil? %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "employees/shared/error_messages", resource: resource %>

  <%= f.fields_for :employee_profile do |ui| %>
    <div class="field mt ml">
      <%= ui.label :first_name,  t('profile_basic_data.first_name') %><br />
      <%= ui.text_field :first_name, autofocus: true, class: 'form-text-field' %>
    </div>

    <div class="field mt ml">
      <%= ui.label :last_name, t('profile_basic_data.last_name') %><br />
      <%= ui.text_field :last_name, class: 'form-text-field' %>
    </div>

    <div class="field mt ml">
      <%= ui.label :phone, t('profile_basic_data.phone') %><br />
      <%= ui.text_field :phone, class: 'form-text-field' %>
    </div>

    <div class="field mt ml">
      <%= ui.label :specialization, t('employee_profiles.employee_profile.specialization') %><br />
      <% options = Specialization.all.map { |d| [I18n.exists?("specialization.specialization_titles.#{d.title.parameterize.underscore}", locale: :uk) ? t("specialization.specialization_titles.#{d.title.parameterize.underscore}") : d.title, d.id] } %>
      <%= ui.select :specialization_id, options_for_select(options, prompt: 'Select specialization'), {}, class: 'form-text-field', style: "width: 300px;" %>
    </div>
  <% end %>

  <div class="field mt ml">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-text-field' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field mt ml">
    <%= f.label :password, t('devise_fields.password') %> <i>(<%= t('devise_fields.password_part_one') %><br><%= t('devise_fields.password_part_two') %>)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-text-field' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> <%= t('devise_fields.min_symbols') %></em>
    <% end %>
  </div>

  <div class="field mt ml">
    <%= f.label :password_confirmation, t('devise_fields.password_confirmation') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-text-field' %>
  </div>

  <div class="field mt ml">
    <%= f.label :current_password, t('devise_fields.current_password') %> <i>(<%= t('devise_fields.current_password_part_one') %><br><%= t('devise_fields.current_password_part_two') %>)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-text-field' %>
  </div>

  <div class="actions mt ml mb">
    <%= f.submit t('update'), class: 'button button-main' %>
  </div>
<% end %>

<h3><%= t('cancel_account') %></h3>
<br>
<div><%= t('unhappy') %> <%= button_to t('cancel_account'), registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'button button-yellow' %></div>
<br>
<%= link_to t('show_profile'), :back, class: 'button button-main' %>
</div>