<div class="container">
<<<<<<< HEAD
  <h2 class="title-lg mb"><%= t('client_profiles.edit.title') %></h2>
=======
  <h2 class="title-lg mb"><%= t("edit-prof") %></h2>
>>>>>>> 8994db95e97503f998e933da9501c0c1b79165cb
 
  <% resource.build_employee_profile if resource.employee_profile.nil? %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "employees/shared/error_messages", resource: resource %>

  <%= f.fields_for :employee_profile do |ui| %>
    <div class="field mt ml">
<<<<<<< HEAD
      <%= ui.label :first_name,  t('profile_basic_data.first_name') %><br />
=======
      <%= ui.label t("first-name") %><br />
>>>>>>> 8994db95e97503f998e933da9501c0c1b79165cb
      <%= ui.text_field :first_name, autofocus: true, class: 'form-text-field' %>
    </div>

    <div class="field mt ml">
<<<<<<< HEAD
      <%= ui.label :last_name, t('profile_basic_data.last_name') %><br />
=======
      <%= ui.label t("last-name") %><br />
>>>>>>> 8994db95e97503f998e933da9501c0c1b79165cb
      <%= ui.text_field :last_name, class: 'form-text-field' %>
    </div>

    <div class="field mt ml">
<<<<<<< HEAD
      <%= ui.label :phone, t('profile_basic_data.phone') %><br />
=======
      <%= ui.label t("phone") %><br />
>>>>>>> 8994db95e97503f998e933da9501c0c1b79165cb
      <%= ui.text_field :phone, class: 'form-text-field' %>
    </div>

    <div class="field mt ml">
<<<<<<< HEAD
      <%= ui.label :specialization, t('employee_profiles.employee_profile.specialization') %><br />
      <% options = Specialization.all.map { |d| [I18n.exists?("specialization.specialization_titles.#{d.title.parameterize.underscore}", locale: :uk) ? t("specialization.specialization_titles.#{d.title.parameterize.underscore}") : d.title, d.id] } %>
      <%= ui.select :specialization_id, options_for_select(options, prompt: 'Select specialization'), {}, class: 'form-text-field', style: "width: 300px;" %>
=======
      <%= ui.label t("spec") %><br />
      <%= ui.collection_select :specialization_id, Specialization.all, :id, :title, { prompt: 'Select specialization' }, class: 'form-text-field', style: 'width: 300px;' %>
>>>>>>> 8994db95e97503f998e933da9501c0c1b79165cb
    </div>
  <% end %>

  <div class="field mt ml">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-text-field' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field mt ml">
<<<<<<< HEAD
    <%= f.label :password, t('devise_fields.password') %> <i>(<%= t('devise_fields.password_part_one') %><br><%= t('devise_fields.password_part_two') %>)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-text-field' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> <%= t('devise_fields.min_symbols') %></em>
=======
    <%= f.label t("ent-password") %> <i>(<%= t("leave-blank")%> <br><%= t("change-it")%>)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-text-field' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> <%= t("password-char")%></em>
>>>>>>> 8994db95e97503f998e933da9501c0c1b79165cb
    <% end %>
  </div>

  <div class="field mt ml">
<<<<<<< HEAD
    <%= f.label :password_confirmation, t('devise_fields.password_confirmation') %><br />
=======
    <%= f.label t("password-conf") %><br />
>>>>>>> 8994db95e97503f998e933da9501c0c1b79165cb
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-text-field' %>
  </div>

  <div class="field mt ml">
<<<<<<< HEAD
    <%= f.label :current_password, t('devise_fields.current_password') %> <i>(<%= t('devise_fields.current_password_part_one') %><br><%= t('devise_fields.current_password_part_two') %>)</i><br />
=======
    <%= f.label t("curr-pass") %> <i>(<%= t("need-current") %><br><%= t("password-confirm") %></i><br />
>>>>>>> 8994db95e97503f998e933da9501c0c1b79165cb
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-text-field' %>
  </div>

  <div class="actions mt ml mb">
<<<<<<< HEAD
    <%= f.submit t('update'), class: 'button button-main' %>
  </div>
<% end %>

<h3><%= t('cancel_account') %></h3>
<br>
<div><%= t('unhappy') %> <%= button_to t('cancel_account'), registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'button button-yellow' %></div>
<br>
<%= link_to t('show_profile'), :back, class: 'button button-main' %>
=======
    <%= f.submit t("update"), class: 'button button-main' %>
  </div>
<% end %>

<h3><%= t("cancel-acc") %></h3>
<br>
<div><%= t("unhappy") %>? <%= button_to t("cancel-acc"), registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'button button-yellow' %></div>
<br>
<%= link_to t("back-to-profile"), :back, class: 'button button-main' %>
>>>>>>> 8994db95e97503f998e933da9501c0c1b79165cb
</div>