<div id="<%= dom_id client_profile %>">
  <div class="mt-md">
<<<<<<< HEAD
    <strong><%= t('profile_basic_data.first_name') %>:</strong>
=======
    <strong><%= t("first-name") %>:</strong>
>>>>>>> 8994db95e97503f998e933da9501c0c1b79165cb
    <%= client_profile.first_name %>
  </div>

  <div class="mt-md">
<<<<<<< HEAD
    <strong><%= t('profile_basic_data.last_name') %>:</strong>
=======
    <strong><%= t("last-name") %>:</strong>
>>>>>>> 8994db95e97503f998e933da9501c0c1b79165cb
    <%= client_profile.last_name %>
  </div>

  <div class="mt-md">
<<<<<<< HEAD
    <strong><%= t('profile_basic_data.phone') %>:</strong>
=======
    <strong><%= t("phone") %>:</strong>
>>>>>>> 8994db95e97503f998e933da9501c0c1b79165cb
    <%= client_profile.phone %>
  </div>

  <div class="mt-md">
    <strong>Email:</strong>
    <%= @client_profile.client.email %>
  </div>

  <div class="mt-md">
    <strong><%= t('.preferred_currency') %>:</strong>
    <%= @client_profile.currency_type %>
  </div>

</div>
