<div class="container">
  <h2 class="title-lg mb"><%= t('.title') %></h2>
  <%= render "form", client_profile: @client_profile %>

  <br>

  <div>
<<<<<<< HEAD
    <%= link_to t('show_profile'), @client_profile, class: 'button button-yellow'%>
    <%= link_to t('back_to_main'), root_path, class: 'button button-yellow' %> <br />
=======
    <%= link_to t("back-to-profile"), @client_profile, class: 'button button-yellow'%>
    <%= link_to t("back-main-page"), root_path, class: 'button button-yellow' %> <br />
>>>>>>> 8994db95e97503f998e933da9501c0c1b79165cb
  </div>
</div>
