<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
      <p style="color: green"><%= notice %></p>
        <div class="user-card">
            <div class="user-card-img">
              
              <div class="mt-md">
                <% if @client_profile.avatar.attached? %>
                  <%= image_tag(@client_profile.avatar, width: "300", height: "200") %>
                <% else %>
                  <img src="<%= image_path('unknown.jpg') %>" alt="Sorry, smth went wrong(((">
                <% end %>
              </div>

            </div>
            <%= render @client_profile %>
        </div>

        <div class="mt-ls">
          <%= link_to t('.edit'), edit_client_profile_path, class: 'button button-yellow' %>
          <%= link_to t('.show_orders'), orders_sorted_by_date_path(client_profile_id: @client_profile.id), class: 'button button-yellow'%>
          <%= link_to t('.show_favourites'), client_likes_path(@client_likes), class: 'button button-yellow'%>    
          <%= link_to t('back_to_main'), root_path, class: 'button button-yellow' %>
        </div>    
    </div>
      
</body>
</html>
