<html lang="en">
<head>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    .exchange-rates {
      font-family: Arial, sans-serif;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      margin: 20px 0;
    }

    .exchange-rates h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .exchange-rates ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .exchange-rates li {
      margin-bottom: 5px;
    }

    .exchange-rates li span {
      font-weight: bold;
    }
  </style>

</head>
<body>
    <div class="container">
        <p class="title-md"style="color: green"><%= notice %></p>

      <div class="exchange-rates">
        <h2><%= t('exchange_rates.title') %></h2>
        <ul>
          <% @exchange_rates.each do |rate| %>
            <li><span><%= t("exchange_rates.ccy.#{rate['ccy']}") %></span> <%= t('exchange_rates.to_UAH') %>: <span><%= sprintf('%.2f', rate['buy']) %></span> (<%= t('exchange_rates.buy') %>), <span><%= sprintf('%.2f', rate['sale']) %></span> (<%= t('exchange_rates.sale') %>)</li>
          <% end %>
        </ul>
      </div>

      <%= link_to t('back_to_main'), root_path, class: 'button button-yellow' %>

    </div>
</body>
</html>