<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-wrapper">
  <% if params[:employee_id].present? %>
    <% employee = EmployeeProfile.find(params[:employee_id]) %>
    <div class="field mt">
      <%= form.label t("emp-profile.one"), style: "display: block" %>
      <%= form.text_field :employee_profile_id, value: "#{employee.first_name} #{employee.last_name}", class: 'form-text-field', readonly: true %>
    </div>
  <% end %>

  <div class="field mt">
    <%= link_to t("orders_data.form.select_employee"), employee_profiles_path, class: 'button button-yellow mr-sm' %>
  </div>

  <div class="field mt">
    <%= form.label :urgency_id, t("orders_data.form.urgency"), style: "display: block" %>
    <% options = Urgency.all.map { |d| [I18n.exists?("urgency.urgency_titles.#{d.title.parameterize.underscore}", locale: :uk) ? t("urgency.urgency_titles.#{d.title.parameterize.underscore}") : d.title, d.id] } %>
    <%= form.select :urgency_id, options_for_select(options, prompt: 'Select urgency'), {}, class: 'form-text-field', style: "width: 300px;" %>
  </div>

  <div class="field mt">
    <%= form.label :date_order, t("orders_data.form.date_order"), style: "display: block" %>
    <%= form.date_field :date_order, class: 'form-text-field' %>
  </div>

  <div class="field mt">
    <%= form.label :service_id, t("orders_data.form.service"), style: "display: block" %>
    <% options = Service.all.map { |d| [I18n.exists?("index.home.services_titles.#{d.title.parameterize.underscore}", locale: :uk) ? t("index.home.services_titles.#{d.title.parameterize.underscore}") : d.title, d.id] } %>
    <%= form.select :service_id, options_for_select(options, prompt: 'Select service'), {}, class: 'form-text-field', style: "width: 300px;" %>
  </div>

  <div class="field mt">
    <%= form.label :price, t("orders_data.form.price"), style: "display: block" %>
    <%= form.number_field :price, class: 'form-text-field', step: 'any', min: 1, max: 1000000 %>
  </div>

  <%= form.hidden_field :client_profile_id, value: current_client.client_profile.id %>
  <%= form.hidden_field :employee_profile_id, value:params[:employee_id] %>
  <%= form.hidden_field :status_id, value: Status.find_by(title: "Not Approved").id %>

  <div class="field mt">
    <%= form.submit t('save'), class: 'button button-main' %>
  </div>
<% end %>
</div>