<div class="container">
  <div class="dropdown">
  <button class="dropbtn"><%= t('orders_data.orders_statuses.done') %></button>
  <div class="dropdown-content">
      <%= link_to t('orders_data.orders_statuses.not_approved'), not_approved_orders_path(employee_profile_id: current_employee.id) %>
      <%= link_to t('orders_data.orders_statuses.approved'), approved_orders_path(employee_profile_id: current_employee.id) %>
      <%= link_to t('orders_data.orders_statuses.in_progress'), in_progress_orders_path(employee_profile_id: current_employee.id) %>
      <%= link_to t('orders_data.orders_statuses.done'), done_orders_path(employee_profile_id: current_employee.id) %>
  </div>
  </div>
  <br><br>
  <% if alert.present? %>
    <p class="mt-ls mb-ls" style="color: red"><%= alert %></p>
  <% end %>

  <div id="orders">
    <% @orders.each do |order| %>
      <div class="user-card mt-ls">

        <div class="user-card-img">     
          <div class="mt-md">
            <% if order.avatar.attached? %>
              <%= image_tag(order.avatar, width: "300", height: "200") %>
            <% else %>
              <img src="<%= image_path('question.jpg') %>" alt="Sorry, smth went wrong(((">
            <% end %>
          </div>
        </div>

        <%= render order %>
      </div>

      <p class="mt">
        <%= link_to t('show_more'), order_path(order.id, employee_profile_id: order.employee_profile_id), class: 'button button-main' %>
      </p>
      <br/>
    <% end %>
  </div>

  <div class="mt-ls">
    <%= link_to t('show_profile'), employee_profile_path(current_employee), class: 'button button-yellow' %>
    <%= link_to t('back_to_main'), root_path, class: 'button button-yellow' %>
  </div>

</div>
