<div class="container">
<<<<<<< HEAD
  <h2 class="title-lg mb"> <%= t('orders_data.edit.title') %> </h2>
=======
  <h2 class="title-lg mb"><%= t("editing-order") %></h2>
>>>>>>> 8994db95e97503f998e933da9501c0c1b79165cb
  <p style="color: green"><%= notice %></p>

  <% if current_client %>

  <% elsif current_employee %>
<<<<<<< HEAD

    <%= form_with(model: @order) do |form| %>
      <% if @order.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
    
          <ul>
            <% @order.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
    <div class="form-wrapper">   
      <div class="field mt">
        <%= form.label :avatar, t('client_profiles.form.avatar') %>
        <%= form.file_field :avatar %>
      </div>

      <% if Status.find_by(id: @order.status_id).title != "Done" %>
        <div class="field mt">
          <%= form.label :price, t('orders_data.form.price'), style: "display: block" %>
          <%= form.number_field :price, class: 'form-text-field', min: 1, max: 1000000 %>
        </div>
      <% end %>

=======
    <%= form_with(model: @order) do |form| %>
      <% if @order.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
    
          <ul>
            <% @order.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
    <div class="form-wrapper">   
      <div class="field mt">
        <%= form.label t("price"), style: "display: block" %>
        <%= form.number_field :price, class: 'form-text-field', min: 1, max: 1000000 %>
      </div>

>>>>>>> 8994db95e97503f998e933da9501c0c1b79165cb
      <div class="field mt">
        <%= form.submit t("save"), class: 'button button-main' %>
      </div>
    <% end %>

    </div>

  <% end %>  

  <br>
  
  <div class="mt-ls">
<<<<<<< HEAD
    <%= link_to t("show_order"), order_path(@order.id), class: 'button button-yellow'%>
    <% if current_client %>
      <%= link_to t("orders"), orders_path, class: 'button button-yellow' %>
    <% elsif current_employee %>
      <%= link_to t("orders"), not_approved_orders_path, class: 'button button-yellow' %>
=======
    <%= link_to t("show-order"), order_path(@order.id), class: 'button button-yellow'%>
    <% if current_client %>
      <%= link_to t("back-to-orders"), orders_path, class: 'button button-yellow' %>
    <% elsif current_employee %>
      <%= link_to t("back-to-orders"), not_approved_orders_path, class: 'button button-yellow' %>
>>>>>>> 8994db95e97503f998e933da9501c0c1b79165cb
    <% end %>          

  </div>
  
</div>
