<div class="container">
<<<<<<< HEAD
  <h2 class="title-lg mb"><%= t('orders_data.new.title') %></h2>
  <%= render "form", order: @order %>
  <br>
  <div>
    <%= link_to t("back_to_main"), root_path, class: 'button button-yellow'%>
=======
  <h2 class="title-lg mb"><%= t("new-order") %></h2>
  <%= render "form", order: @order %>
  <br>
  <div>
    <%= link_to t("back-main-page"), root_path, class: 'button button-yellow'%>
>>>>>>> 8994db95e97503f998e933da9501c0c1b79165cb
  </div>
</div>