<div class="container">
  <h2 class="title-lg mb"><%= t("log_in.title") %></h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field mt">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-text-field'  %>
    </div>
  
    <div class="field mt">
      <%= f.label :password, t('devise_fields.password') %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-text-field'  %>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <div class="field mt">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, t('log_in.remember_me') %>
      </div>
    <% end %>
  
    <div class="actions field mt">
      <%= f.submit t('log_in_button'), class: 'button button-main' %>
    </div>
  <% end %>
  
  <%= render "clients/shared/links" %>
</div>
