<!DOCTYPE html>
<html>
  <head>
    <title>Platform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path('beefav.ico') %>
    </head>

  <body>
    <div class="wrapper">
      <div class="navbar">

      <%#= link_to "ukr", { lang: "uk" }%>
      <%#= link_to "en", { lang: "en" } %>

       <div class="logo-container">
          <%= link_to root_path, class: 'exchange-link' do %>
            <%= inline_svg_tag "logo.svg", class: 'platform-logo' %>
          <% end %>
          <%= link_to exchange_path, class: 'exchange-link' do %>
              <%= inline_svg_tag "coin.svg", class: 'exchange-logo' %>
          <% end %>
       </div>

       <form action="/search" method="get">
         <input name="q" type="text" placeholder= <%= t('.search_placeholder') %> aria-label="Search", class='search-form-text-field' value="<%= params[:q] %>">
         <%= hidden_field_tag :lang, params[:lang] || I18n.locale %>
         <button class="button button-yellow" type="submit"><%= t('.search_button') %></button>
       </form>
      </div> 

       <% if client_signed_in? %>
       <% user = current_client %>
       <% elsif employee_signed_in? %>
         <% user = current_employee %>
       <% end %>

      <div>
        <% if user %>
          <% profile_path = user.is_a?(Client) ? (user.client_profile.present? ? client_profile_path(user.client_profile) : nil) : (user.employee_profile.present? ? employee_profile_path(user.employee_profile) : nil) %>
          <% email_span = content_tag('span', user.email, class: 'mr-sm') %>
          <% profile_link = profile_path.present? ? link_to(t('.profile_button'), profile_path, class: 'button button-yellow') : nil %>
          <%= email_span %>
          <% if user.is_a?(Employee) %>
            <%= link_to t('.create_service_button'), new_service_path(current_employee_id: current_employee.id), class: 'button button-yellow mr-sm' %>
            <%= link_to t('.calendar_button'), employee_calendar_path(current_employee_id: current_employee.id), class: 'button button-yellow mr-sm' %>
          <% end %>
          <% if user.is_a?(Client) %>
            <%= link_to t('.create_order_button'), new_order_path(current_client_id: current_client.id), class: 'button button-yellow mr-sm' %>
            <%= link_to t('.calendar_button'), calendar_path(current_client_id: current_client.id), class: 'button button-yellow mr-sm' %>
          <% end %>
          <%= profile_link %>
          <%= button_to t('sign_out_button'), user.is_a?(Client) ? destroy_client_session_path : destroy_employee_session_path, method: :delete, class: 'button button-yellow' %>
        <% else %>
          <%= link_to t('sign_up_button'), select_registration_path, class: 'button button-yellow mr-sm' %>
          <%= link_to t('log_in_button'), new_client_session_path, class: 'button button-yellow' %>
        <% end %>
        
          <%#= link_to "ukr", { lang: "uk" }%>
          <%#= link_to "en", { lang: "en" } %>
          <%#= link_to "ukr", change_locale_path(lang: :uk) %>
          <%#= link_to "en", change_locale_path(lang: :en) %>


        <div class="i18n-container" style="padding-left: 10px">
          <% current_params = params.permit(params.keys) %>
          <% if params[:lang] == "uk" %>
            <%= link_to "EN", current_params.merge(lang: "en"), class: 'button button-main' %>
          <% else %>
            <%= link_to "UA", current_params.merge(lang: "uk"), class: 'button button-main' %>
          <% end %>
        </div>
      
      </div>

    </div>
  </div>

    <%= yield %>
  </body>
</html>


